:root{
    --e-global-color-astglobalcolor0: #8bc34a;
    --e-global-color-astglobalcolor1: #6a9739;
    --e-global-color-astglobalcolor2: #111111;
    --e-global-color-astglobalcolor3: #333333;
    --e-global-color-astglobalcolor4: #f8f6f3;
    --e-global-color-astglobalcolor5: #ffffff;
    --e-global-color-astglobalcolor6: #001524;
    --e-global-color-astglobalcolor7: #424242;
    --e-global-color-astglobalcolor8: #000000;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--e-global-color-astglobalcolor4);
}
a{
    text-decoration: none;
    color: var(--e-global-color-astglobalcolor2);
}

a:visited{
    color: var(--e-global-color-astglobalcolor6);
}
.main__wrapper{
/* margin: 0 auto; */
padding: 10rem 0;
}

.main__wrapper,.form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.logo__wrapper{
padding: 3rem 0;
}
.form{

}
.label__username{
margin-right: 5rem;
margin-bottom: .3rem;
}
.username__input,.password__input{
width: 15rem;
height: .8rem;
padding: .8rem 1rem;
margin-bottom: 1rem;
border-radius: .2rem;
border: 1px solid var(--e-global-color-astglobalcolor6);

}

.label__password{
margin-right: 12rem;
margin-bottom: .3rem;
}
.password__input{

}

.remeber__login{
display: flex;
justify-content: space-between;
width: 17rem;
}
.remeber{
display: flex;
align-items: center;
}
.checkbox__input{
/* width: 1rem;
height: 1rem; */
}
.checkbox__span{

}
.login{

}
.login__submit{
padding: .5rem;
background-color: var(--e-global-color-astglobalcolor0);
border: none;
border-radius: .2rem;
font-weight: bold;
}
.hint{
margin-top: 5rem;
display: flex;
flex-direction: column;
}
.hit__password,.hit__oraganicsite{
font-size: 1.5rem;
padding: .5rem 0;
}
.hit__oraganicsite{

}
.manager_account{
    /* display: flex;
    align-items: center; */
}
.manager_account__title{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.manager__icon{
    width: 20px;
}